.location {
	margin: 2rem auto;
	width: auto;
	height: fit-content;
	min-width: 20rem;
	border: 1px solid black;
	border-radius: 1rem;
	overflow: hidden;
	transition: transform 250ms;
}

.location:hover {
	cursor: pointer;
	transform: scale(1.05);
}

.location header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	padding: 0.5rem 2rem;
	font-size: large;
	text-align: left;
}

.weatherImage {
	display: flex;
	align-items: center;
	font-weight: bold;
}

.title {
	font-size: x-large;
	font-weight: bolder;
}

.content {
	display: flex;
	justify-content: space-between;
	padding: 2rem 2rem;
}

.information p {
	text-align: center;
}

.label {
	font-size: large;
	font-weight: bolder;
}

.thunderstorm header,
.rain header {
	background-color: var(--dark-blue);
	color: var(--off-white);
}

.drizzle header {
	background-color: var(--light-blue);
	color: var(--off-white);
}

.snow header {
	background-color: var(--very-light-blue);
}

.clear header {
	background-color: var(--pastel-yellow);
}

.clouds header {
	background-color: var(--dark-grey);
	color: var(--off-white);
}
