.timestamp {
	display: grid;
	height: auto;
	gap: 0 0;
}
.morning {
	grid-row: 1/ 4;
}
.afternoon {
	grid-row: 4/ 7;
}
.night {
	grid-row: 7/ 9;
}

.content {
	display: flex;
	height: auto;
}

.forecasts {
	display: flex;
	width: fit-content;
	height: auto;
	overflow-x: scroll;
}

.forecasts::-webkit-scrollbar {
	height: 10px;
	color: white;
	background-color: white;
}

.forecasts::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px white;
	border-radius: 10px;
}

.forecasts::-webkit-scrollbar-thumb {
	background: grey;
	border-radius: 10px;
}

.date {
	text-align: center;
	font-weight: bolder;
	font-size: large;
}

.firstDay {
	justify-content: space-between;
}

.dayList {
	display: flex;
	flex-direction: column;
	height: auto;
}

.forecast {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5rem;
	height: 100px;
	width: 130px;
	background-color: var(--light-blue);
	border-radius: 0.5rem;
	margin: 5px;
}
.forecast b {
	font-weight: bold;
}

.weatherIcon {
	align-self: center;
}
