.header {
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
}

.form {
	display: flex;
	flex-direction: column;
}

.form > * {
	margin: 1rem;
}

.input {
	text-align: center;
	font-size: large;
}

.action {
	width: fit-content;
	padding: 0.2rem 2rem;
	margin: auto;
	background-color: var(--very-light-blue);
}

.action:hover {
	cursor: pointer;
}
